footer {
    background-color: #333333;
    color: #212529;
    height: 70px;

    .container {
        width: auto;
        padding: 20px;

        // #header-links ul {
        //     margin: 0px;

        //     li a {
        //         padding: 5px;
        //         margin-left: 15px;
        //         text-decoration: none;
        //     }
        // }
        // a {
        //     // width: 100px;
        //     text-decoration: none;

        //     h3 {
        //         font-size: 27px;
        //         margin: 0px;
        //     }
        // }
        // a:not(.active) {
        //     color: #999999;
        // }
        // a:hover:not(.active) {
        //     color: #8ec641;
        // }
    }
}